{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
    <table class="table table-striped mt-5">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col">Сумма</th>
        </tr>
        </thead>
        <tbody>
  {% for item in cart %}
      <tr>
          <td>
              <a class="btn btn-primary" href="{% url 'webapp:cart_delete' item.pk %}" role="button">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg>
              </a>
              <a class="btn btn-primary" href="{% url 'webapp:cart_delete_one' item.pk %}" role="button">-1</a>
          </td>
          <td>
              <a class="card-link" href="{% url 'webapp:product_view' item.products.pk %}">{{ item.products.name }}</a>
          </td>
          <td>{{ item.products.price }}</td>
          <td>{{ item.qty }}</td>
          <td>{{ item.total }}</td>
      </tr>
  {% endfor %}
        <tr><td></td><td></td><td></td><td>Итого</td><td>{{ cart_total|default_if_none:0 }} </td></tr>
        </tbody>
    </table>
    {% url 'webapp:order_create' as action_url %}
        {% include 'partial/form.html' with button_text='Оформить заказ' action_url=action_url form_method='post' %}
{% endblock %}