{% extends 'base.html' %}

{% block title %}My Shop{% endblock %}

{% block content %}
    <div class="title mt-5 pb-4" style="text-align: center"><h1>Добро пожаловать в My Shop!</h1></div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for product in products %}
         {% include 'partial/product_list.html' %}
        <hr/>
        {% url 'webapp:product_add' product.pk as action_url %}
        {% include 'partial/form.html' with button_text='Добавить в корзину' action_url=action_url form_method='post' %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    {% endfor %}
{% endblock %}